{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- About section design -->
<section class="about" id="about">
    <div class="about-img">
        <img src="{% static 'images/bgimg.png' %}" alt="" />
    </div>

    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <p>
            Hi there, I'm SHAILESH, an aspiring Python web developer seeking job opportunities in the field. I have a strong passion for programming and I am dedicated to building my skills and knowledge in Python web development. I am proficient in web development frameworks such as a Django, and I am familiar with various technologies such as HTML, CSS, JavaScript PostgreSQL, GIT, and Linux. I am a problem-solver at heart and enjoy collaborating with others to develop innovative web solutions. I am committed to ongoing learning and development, and I believe that with the right opportunity, I can make a positive impact as a Python web developer.
        </p>
        <a href="#" class="btn">Read More</a>
    </div>
</section>
{% endblock content %}