{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Contact setion design -->
<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span></h2>
    <form action="" method='post'>
        {% csrf_token %}
        <div class="input-box">
            <input type="text" placeholder="Full Name" name='fname'>
            <input type="email" placeholder="Email Address" name='email'>
        </div>
        <div class="input-box">
            <input type="number" placeholder="Mobile Number" name='number'>
            <input type="text" placeholder="Subject" name='subject'>
        </div>
        <textarea id="" cols="30" rows="10" placeholder="Your Message" name='message'></textarea>
        <input type="submit" value="Send Message" class="btn">
    </form>
</section>
{% endblock content %}