
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #02b95d;
}

html {
    font-size: 55%;
    
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

section:nth-child(odd) {
    background-color: #323946;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: .01rem solid lightgray;
}

.logo {
    font-size: 4rem;
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .home {
        flex-direction: column;
    } 
}

@media (min-width: 901px) and (max-width: 1329px) {
    .home {
        flex-direction: row;
    }
}

@media (min-width: 1330px) {
    .home {
        flex-direction: row;
    } 
}


.home-img img {
    width: 100%;
    height:100%;
    min-width: 10vh;
    min-height:10vh;
    border-radius:  0 0 20px 0;
    border-bottom: 10px solid #230b0b;
    transition: .3s;
}

.home-img:hover img {
    transform: scale(1.08);
}


.about-img img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--main-color);
    background-color: #6a6a6a;
    transition: .3s;
}

.about-img:hover img {
    transform: scale(1.04);
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 1.7rem;
    word-spacing: 2px;
    line-height: 20px;
}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 2rem 2rem 2rem 0;
}

.social-media a:hover {
    box-shadow: var(--main-color);
}

.social-media .logo {
    background-color: var(--text-color);
    border-radius: 50%;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    transition: 0.5s;
}

.social-media .logo:hover {
    background-color: var(--main-color);
    transform: scale(1);

}


.btn {
   display: inline-block;
   padding: 1.5rem 2rem 1.5rem 2rem;
   font-size: 2rem;
   background-color: var(--text-color);
   border-radius: 4rem;
   color: black;
   letter-spacing: .1rem;
   font-weight: bold;
   transition: 0.3s;
}

.btn:hover {
    background-color: var(--main-color);
    transform: scale(1);
}

.about {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-content .heading{
    font-size: 3rem;
}

.hadding {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2rem;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    text-align: justify;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content p {
    font-size: 1.8rem;
    word-spacing: 1px;
    line-height: 20px;
}

.services {
    margin-bottom: 5rem;
}

.services h2,
.portfolio h2 {
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

.services-continer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-continer .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 4rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .3s ease;
    box-shadow: 0 0 5px var(--bg-color);
}

.services-continer .services-box:hover {
    border-color: var(--main-color);
    
}

.services-box img {
    color: var(--main-color);
}

.services-box h3 {
    color: var(--main-color);
    font-size: 2rem;
}

.services-box p {
    text-align: justify;
    font-size: 1.7rem;
    margin: 1rem 0 3rem;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-continer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

/* grid */
@media (max-width: 900px) {
    .portfolio-continer {
        grid-template-columns: repeat(1, 1fr);
    } 
}

@media (min-width: 901px) and (max-width: 1329px) {
    .portfolio-continer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1330px) {
    .portfolio-continer {
        grid-template-columns: repeat(3, 1fr);
    } 
}


.portfolio-continer .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .3s;
}

.portfolio-box:hover img {
    width: 100%;
}

.portfolio-box:hover .main-img {
    width: 100%;
    filter: blur(6px) brightness(50%);

}


.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color)); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .3s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3.5rem;
}

.portfolio-layer p {
    font-size: 2rem;
    margin: 0 0 2rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .3s;
}

.portfolio-layer a:hover {
    background-color: var(--main-color);
}

.portfolio-layer a:active {
    background-color: brown;
}


.portfolio-layer a img {
    font-size: 100%;
    color: var(--second-bg-color);
}


.contact h2 {
    margin-bottom: 4rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: auto;
    background: lavender;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color:#101f3a;
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    border-radius: 50%;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
}

.footer-iconTop a img {
    background-color: var(--text-color);
    border-radius: 50%;
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    transition: .3s;
}

.footer-iconTop a:hover img {
    background-color: #02b95d;
}



::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
    background: none; 

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}